.grid-container {
    display: grid;
    width: 400px;
    height: 400px; 
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(2, 200px);
    background-color: lightgray;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}
